
/* palette:
 colour 1: 2b2d42
 colour 2: 8d99ae
 colour 3: edf2f4
 colour 4: ef233c
 colour 5: d90429 */

html {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    
}

body {
    /* background-color: pink; */
    max-width: 1000px;
    display: flex;    
    flex-direction: column;
    
    
}

#columns {
    display: flex;
    flex-direction: row;
}


h2 {
    font-family: Ubuntu, "Noto Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;

    margin: 10px 0 5px;
}

/* HEADER: Name, role and summary. */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    background-color: #2b2d42;
    color: #edf2f4;

    padding: 10px 20px 10px 20px;
    border-radius: 20px 20px 0 0;
}

#name {
    margin: 0;
    font-family: Ubuntu, "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    color: #8d99ae;
}

#role {
    font-family: Ubuntu, "Noto Sans", sans-serif;
    font-weight: 200;
    font-size: 1.75rem;

    color: #ef233c;
    
}

#aboutMe {
    text-align: right;
    font-size: 1rem;
    margin: 5px 0 0;
    
}

/* COLUMN 1 - SIDE COLUMN: CONTACT, SKILLS AND EDUCATION */

.column1 {
    background-color: #edf2f4;
    color: #2b2d42;
    display: flex;
    flex-direction: column;

    max-width: 33%;
    padding: 0 0 20px 20px;
    border-radius: 0 0 0 20px;
}

/* .column1>* {
    padding-right: 20px;
} */

.column1 h1 {
    display: none;
}

.column1 h2 {
    color: #ef233c;
    margin: 10px 0 5px 0;
    
}

.contactDetails {
    display: flex;
    flex-direction: column;
}

.contactInfo {
    color: #2b2d42;
    line-height: 2;
    /* letter-spacing: 1px; */

    display: flex;
    flex-direction: row;
    
}

.contactInfo a {
    color: #2b2d42;
    text-decoration: none;
}

.contactInfo a:hover {
    color: #ef233c;
}

.contactIcon {
    width: 20px;
    height: auto;
    padding-right: 5px;

}

.contactData {
    
}

.skillType {
    font-weight: 600;
    color: #2b2d42;
}

.skillList {
    margin-bottom: 10px;
    font-weight: 300;
    color: #2b2d42;
}

.eduInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}


/* COLUMN 2 - WORK EXPERIENCE */

.column2 {
    background-color: #edf2f4;
    color: #2b2d42;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    
    padding: 0 20px 20px 0;

    border-radius: 0 0 20px 0;
}

.column2>* {
    padding-left: 20px;
}



.col2HR {
    border-top: 2px solid #2b2d42;
    width: 20%;
    margin-left: 0;
}


.jobTitle {
    font-weight: 600;
    text-transform: uppercase;
    
    
}

.jobInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

#firstJob {
    margin-top: 10px;
}

.jobHR {
    border-top: 1px solid #8d99ae;
    margin-top: 0;
    margin-bottom: 2px;
}

.jobLocation, .jobDates {
    font-size: 0.8rem;
}

.jobDates {
    color: #8d99ae;
    font-weight: 600;
}

.jobRole, .jobDetails {
    margin-top: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}

.column2 ul {
    padding-left: 20px;
    margin-top: 10px;
}


/* @media(max-width: 1050px){
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 950px){
    h1 {
        font-size: 3.5rem;
    }
}

@media(max-width: 850px){
    h1 {
        font-size: 3rem;
    }
} */


/* Small screen layout */
/* @media(max-width: 700px){
    body {
        flex-direction: column;
    }

    .column1 {
        max-width: 100%;

        border-radius: 20px 20px 0 0;
    }

    .column1 h1 {
        display: inline;
        margin-top: 10px;
        
    }

    .column2 {
        border-radius: 0 0 20px 20px;
    }

    .col2HR, .col1HR {
        display: none;
    }

    .column2 .header {
        display: none;
    }
} */

