
/* palette:
 colour 1: 2b2d42
 colour 2: 8d99ae
 colour 3: edf2f4
 colour 4: ef233c
 colour 5: d90429 */

html {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
}

body {
    /* background-color: pink; */
    max-width: 1000px;
    display: flex;    
    flex-direction: row;
    
    
}

h1 {
    font-family: Ubuntu, "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 4.5rem;
}

h2 {
    font-family: Ubuntu, "Noto Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header {
    height: 160px;
    display: flex;
    justify-content: center;
}

.column1 {
    background-color: #2b2d42;
    color: #edf2f4;
    display: flex;
    flex-direction: column;

    max-width: 33%;
    padding: 20px 0 20px 20px;

    border-radius: 20px 0 0 20px;
}

.column1>* {
    padding-right: 20px;
}

.column1 h1 {
    display: none;
}

.col1HR {
    border-top: 1px solid #edf2f4;
    width: 20%;
    margin-right: 0;
}

.column1 h2 {
    color: #ef233c;
    
}

.photo {
    max-width: 35%;
    object-fit: scale-down;
    
    border-radius: 25% 0;
    padding: 20px;
}

.aboutMe {
    line-height: 1.5;
}

.aboutMe span {
    color:#ef233c;
    font-weight: 400;
}

.skillType {
    font-weight: 400;
    color: #8d99ae;
}

.skillList {
    margin-bottom: 10px;
}

.contactInfo {
    color: #edf2f4;
}

.contactInfo a {
    color: #edf2f4;
    text-decoration: none;
}

.contactInfo a:hover {
    color: #ef233c;
}

.column2 {
    background-color: #edf2f4;
    color: #2b2d42;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    
    padding: 20px 20px 20px 0;

    border-radius: 0 20px 20px 0;
}

.column2>* {
    padding-left: 20px;
}

.col2HR {
    border-top: 2px solid #2b2d42;
    width: 20%;
    margin-left: 0;
}

.jobTitle {
    font-weight: 600;
    
}

.jobInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /* margin-bottom: 5px; */
}

.jobLocation, .jobDates {
    font-size: 0.8rem;
}

.jobDates {
    color: #8d99ae;
}

.jobRole, .jobDetails {
    margin-top: 5px;
    font-weight: 400;
    font-size: 0.9rem;
}

@media(max-width: 1050px){
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 950px){
    h1 {
        font-size: 3.5rem;
    }
}

@media(max-width: 850px){
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 600px){
    body {
        flex-direction: column;
    }

    .column1 {
        max-width: 100%;

        border-radius: 20px 20px 0 0;
    }

    .column1 h1 {
        display: inline;
        margin-top: 10px;
        /* font-size: 4rem; */
    }

    .column2 {
        border-radius: 0 0 20px 20px;
    }

    .column2 .header, hr {
        display: none;
    }
}

